<div>
    <h2 id="page-heading">
        <span jhiTranslate="lpaecommsApp.invoices.home.title">Invoices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoices-my-suffix" [routerLink]="['/invoices-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lpaecommsApp.invoices.home.createLabel">
            Create new Invoices
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="invoices">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invNo"><span jhiTranslate="lpaecommsApp.invoices.invNo">Inv No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invDate"><span jhiTranslate="lpaecommsApp.invoices.invDate">Inv Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invAmount"><span jhiTranslate="lpaecommsApp.invoices.invAmount">Inv Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invStatus"><span jhiTranslate="lpaecommsApp.invoices.invStatus">Inv Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clientsId"><span jhiTranslate="lpaecommsApp.invoices.clients">Clients</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoices of invoices ;trackBy: trackId">
                <td><a [routerLink]="['/invoices-my-suffix', invoices.id, 'view' ]">{{invoices.id}}</a></td>
                <td>{{invoices.invNo}}</td>
                <td>{{invoices.invDate | date:'medium'}}</td>
                <td>{{invoices.invAmount}}</td>
                <td>{{invoices.invStatus}}</td>
                <td>
                    <div *ngIf="invoices.clientsId">
                        <a [routerLink]="['../clients-my-suffix', invoices.clientsId , 'view' ]" >{{invoices.clientsId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/invoices-my-suffix', invoices.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoices-my-suffix', invoices.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoices-my-suffix/'+ invoices.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="invoices && invoices.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
